@model Equipe // esse @model vai ligar com a classe Equipe e se tornará "responsável" pela View dela que o Controller mandou
@{
    ViewData["Title"] = "Equipes"; // vai mudar o título da página (esse "Title" é uma metatag)
}

@*isso criará um formulário*@
<form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data"> @*aqui adicionamos um método (method) para postar (POST) e uma ação (action) será executada quando o usuário clicar em "cadastrar", será executada o método que está no Controller, o Cadastrar || quando é trabalhado com recebimento/manipulação de arquivos, é preciso adicionar no formulário mais um atributo, o enctype (ele vai permitir que nós consigamos fazer esse upload de arquivos e que o usuário consiga selecionar um arquivo da pasta do computador dele para enviar aqui)*@
    <label>ID</label> @*o label é uma "legenda" para o input*@

    @*o input vai possibilitar escrever e captar as coisas de dentro da "caixa"*@
    <input type="text" name="IdEquipe"> @*o name vai buscar (conectar) o IdEquipe lá no Controller*@

    <label>Nome</label>
    <input type="text" name="Nome">

    <label>Imagem</label>
    <input type="file" name="Imagem"> @*o input não pode mais ser type="text" e terá que se tornar "file", para poder enviar arquivos*@

    <button type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive"> @*tabela que irá mostrar os cadastrados || essa "class" está pegando algumas coisas do bootstrap para deixar a tabela mais "bonita"*@
    <thread> @*cabeçalho com as colunas de cada informação dos cadastrados*@
        <th>ID</th> @*as colunas são definidas pelas tags "th"*@
        <th>Nome</th>
        <th>Imagem</th>
    </thread>

    <tbody> @*o "tbody" é o corpo da tabela, onde ficará os dados dos cadastrados*@
        @foreach (Equipe item in ViewBag.Equipes)
        {
            <tr> @*o "tr" é uma linha*@
                <td>@item.IdEquipe</td> @*o "td" é os dados que estarão na linha (tr)*@
                <td>@item.Nome</td>
                <td><img src="/img/Equipes/@item.Imagem" alt="Imagem da equipe @item.Nome" width="35"></td> @*para aparecer uma imagem na tela, é necessário colocar <img>*@
                <td><a asp-area="Link para excluir uma equipe" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@item.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>