@model Jogador
@{
    ViewData["Title"] = "Jogadores";
}

<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<form class="cadastro" method="POST" action='@Url.Action("Cadastrar")'>
    
    <div class="campo">
        <label>ID de Jogador</label> 
        <input type="text" name="IdJogador">
    </div>

    <div class="campo">
        <label>ID da Equipe</label>
        <select name="IdEquipe" id="IdEquipe">
            <option value=0>Selecione uma opção abaixo aí bro...</option>
            @foreach (var item in ViewBag.Equipes)
            {
                <option value="@item.IdEquipe">@item.Nome</option>
            }
        </select>
    </div>

    <div class="campo">
        <label>Nome</label>
        <input type="text" name="Nome">
    </div>

    <div class="campo">
        <label>Email</label>
        <input type="text" name="Email">
    </div>

    <div class="campo">
        <label>Senha</label>
        <input type="password" name="Senha">
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive"> 
    <thread> 
        <th>ID de Jogador</th> 
        <th>Nome</th>
        <th>Email</th>
    </thread>

    <tbody> 
        @foreach (Jogador item in ViewBag.Jogadores)
        {
            <tr> 
                <td>@item.IdJogador</td> 
                <td>@item.Nome</td>
                <td>@item.Email</td>
                @* <td><a asp-area="Link para excluir um jogador" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@item.IdJogador">Excluir</a></td> *@
            </tr>
        }
    </tbody>
</table>